{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Agregar beneficio
{% endblock %}
{% block css %}
<!-- Icons font CSS-->
<link href="{% static '/agregar/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
  media="all">
<link href="{% static '/agregar/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
  rel="stylesheet">

<!-- Vendor CSS-->
<link href="{% static '/agregar/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static '/agregar/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static '/agregar/css/main.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">NUEVO BENEFICIO</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <p>ID sub {{id_tipoSubsidio}}</p>
            <select class="form-control selectpicker" id="select-country" data-live-search="true" name="id_tipoSubsidio"
              required>
              <option value=""> Seleccione un tipo de subsidio</option>
              {% for subsidio in subsidios %}
              <option data-tokens="{{subsidio.nombre_tipo_subsidio}}" value="{{subsidio.id}}"
                {% if subsidio.id == id_tipoSubsidio %} selected {% endif %}>

                {{subsidio.nombre_tipo_subsidio}}</option>
              {% endfor %}
            </select>
            <br><br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Cantidad (valores numéricos sin comas)"
                name="cantidad" step="0.01" min="1"  list="defaultNumbers" value="{{cantidad}}">
                <datalist id="defaultNumbers">
                  <option value="300.00">
                </datalist>
            </div>
            <br><br>
            <div class="d-flex justify-content-end">
              <input type="submit" value="Guardar" class="btn btn-primary">
              &nbsp; &nbsp;
              <input class="btn btn-secondary" type="reset" value="Reset">
            </div>
          </div>
          {% if err %}
          <div class="alert alert-warning" role="alert">
            {{err}}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
  {% for m in messages %}
  <script>
    swal.fire({
      "title": "Acción realizada",
      "text": "{{m}}",
      "icon": "sucess"
    });
  </script>
  {% endfor %}
  {% endif %}
{% endblock %}
