{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Dinero otorgado a zonas
{% endblock %}

{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
    href="{% static '/table_Fixed_Header/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static '/table_Fixed_Header/css/util.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '/table_Fixed_Header/css/main.css' %}" rel="stylesheet">
<!--===============================================================================================-->
{% endblock %}

{% block contenido %}
<div class="limiter">
    <br><br>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table-responsive">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Cantidad</th>
                                    <th class="cell100 column2">Tipo de Susbidio</th>
                                    <th class="cell100 column3">Zona</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                {% for item in zonas %}
                                <tr class="row100 body">
                                    {% for i in item %}
                                    <td class="cell100">
                                        {{i}}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}