{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static '/assets/css/registrarse.css' %}" rel="stylesheet" type="text/css">
<link href="{% static '/assets/css/main.css' %}" rel="stylesheet" type="text/css">
<link href="{% static '/assets/css/util.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block titulo %} Ingresar {% endblock %}

{% block contenido %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-b-160 p-t-50">
			<form class="login100-form validate-form" method="POST">
				{% csrf_token %}
				<span class="login100-form-title p-b-43">
					Inicio de Sesion
				</span>
				
				<div class="wrap-input100 rs1 validate-input" data-validate = "Username is required">
					<input class="input100" type="text" name="username" value="{{username}}">
					<span class="label-input100">Usuario</span>
				</div>
				
				
				<div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
					<input class="input100" type="password" name="password">
					<span class="label-input100">Contraseña</span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Iniciar Sesion
					</button>
				</div>
				<br><br>
				<br><br>
				<div class="col text-center">
					<input class="btn btn-secondary" type="reset" value="Reset">
					&nbsp;&nbsp;
					<input type = "button" class="btn btn-info" value = "Regresar" onclick = "history.back ()">
				</div>	
			</form>
			{% if err %}
			<div class="alert alert-danger text-center" role="alert">
				{{err}}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
