{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link href="{% static '/assets/css/registrarse.css' %}" rel="stylesheet" type="text/css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">


{% endblock %}

{% block titulo %} Registrarse {% endblock %}

{% block contenido %}
<br>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/static/assets/img/logo_white.png" alt="" />
            <h3>BIENVENIDO</h3>
            <p>Sistema de conteo de subsidios</p>
            <a class="btn btn-primary" href="{% url 'login' %} " role="button">Ingresar</a><br />
        </div>
        <div class="col-md-9 register-right">
            <form method="POST">
                {% csrf_token %}
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" ria-labelledby="home-tab">
                        <h3 class="register-heading">Ingrese sus datos personales</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="es_empresa"
                                        value="{{es_empresa}}" id="es_empresa">
                                    <label class="form-check-label" for="es_empresa">
                                        ¿Es una empresa?
                                    </label>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Usuario *" name="username" requerided 
                                        value="{{username}}" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" name="first_name" requerided pattern="[a-zA-Z]{2,50}"
                                        value="{{first_name}}" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Apellido*" name="last_name" required pattern="[a-zA-Z]{2,50}"
                                        value="{{last_name}}" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="DUI*" name="dui" id="dui"
                                        value="{{dui}}" />
                                </div>
                                <br>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="nit_display" style="display: none;">
                                    <input type="text" class="form-control" placeholder="NIT*" name="nit" id="nit"
                                        value="{{nit}}" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email"
                                        placeholder="Correo electrónico (correo@correo.com) *" requerided pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$" value="{{email}}" />
                                </div>
                                <div class="form-group ">
                                    
                                    <select class="form-control selectpicker" id="select-country"
                                        data-live-search="true" name="id_municipio" required>
                                        <option value=""> Seleccione un municipio</option>
                                        {% for municipio in municipios %}
                                        <option data-tokens="{{municipio.nombre_municipio}}" value="{{municipio.id}}"
                                            {% if municipio.id == id_municipio %} selected {% endif %}>

                                            {{municipio.nombre_municipio}}</option>


                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password1" class="form-control"
                                        placeholder="Contraseña * " value="{{password1}}" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password2" class="form-control"
                                        placeholder="Confirme contraseña *" value="{{password2}}" />
                                </div>
                                <button type="submit" class="btnRegister">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% if err %}
            <div class="alert alert-warning" role="alert">
                {{err}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block js %}
<script src="{% static '/assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/assets/js/jquery.mask.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#dui").mask("00000000-0")
        $("#nit").mask("0000-000000-000-0")
    });
</script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-*.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        if ($('#es_empresa').prop("checked") == true) {
            console.log("Checkbox is checked.");
            $('#nit_display').show();
        }

        $("#es_empresa").click(function () {
            if ($(this).prop("checked") == true) {
                console.log("Checkbox is checked.");
                $('#nit_display').show();
            } else if ($(this).prop("checked") == false) {
                console.log("Checkbox is unchecked.");
                $('#nit_display').hide();
            }

        });
    });
</script>
{% endblock %}